<div class="mb-4">
  <div
    class="border-bright flex items-center justify-between gap-2 border-b p-4"
  >
    <span class="text-md w-full font-medium text-nowrap">
      {{ "current_record" | translate }}
    </span>

    <button
      class="btn btn-m btn-primary group"
      [class.invisible]="!canWrite()"
      [attr.tabindex]="canWrite() ? null : -1"
      [disabled]="!canWrite() || isSaving() || !canSaveRecord()"
      (click)="onSave()"
      type="button"
    >
      {{ "buttons.save_record" | translate }}

      <svg class="icon-primary" appIcon="check" width="16" height="16"></svg>
    </button>
  </div>

  @if (canWrite()) {
    <app-quick-add [items]="quickAddItems()" (add)="onQuickAdd($event)" />
  }
</div>
