<section class="bg-main-base flex h-full min-h-0 flex-col rounded-2xl">
  <app-context-panel-header
    [headerTitle]="titleKey() | translate: titleParams()"
  />
  @switch (state().mode) {
    @case ("candidates_edit") {
      <app-candidates-table
        class="min-h-0 flex-1"
        [candidates]="state().candidates ?? []"
        [selectedCandidateId]="state().selectedCandidateId ?? null"
        [tag]="state().tag"
      />
    }
    @case ("candidates") {
      <app-candidates-table
        class="min-h-0 flex-1"
        [candidates]="state().candidates ?? []"
        [selectedCandidateId]="state().selectedCandidateId ?? null"
        [tag]="state().tag"
      />
    }
    @case ("provenance") {
      <app-provenance-timeline
        class="min-h-0 flex-1 py-4 pl-4"
        [steps]="state().steps ?? []"
      />
    }
    @case ("edit") {
      <app-context-edit class="min-h-0 flex-1"></app-context-edit>
    }
    @default {
      <app-marc-records class="min-h-0 flex-1" />
    }
  }
</section>
