<div class="flex flex-col gap-2 p-4">
  <h2>Naskenujte knihu</h2>
  <input
    class="hidden"
    #fileInput
    (change)="onFileSelected($event)"
    type="file"
    accept="image/*"
    capture="environment"
  />

  <div class="flex flex-col gap-5">
    <p class="text-light text-sm">
      Pokaždé, když kliknete na „Vyfotit stránku“, otevře se nativní fotoaparát.
      Po vyfocení se fotografie automaticky odešle na server.
    </p>

    <div class="flex flex-wrap items-center gap-5">
      <button
        class="bg-main-primary-default text-on-color hover:bg-main-primary-hover active:bg-main-primary-pressed text-sm-tight disabled:bg-main-primary-disable disabled:text-btn-primary-disable cursor-pointer rounded-lg px-4 py-3 font-medium disabled:cursor-not-allowed"
        [disabled]="isCreating() || isUploading() || isFinishing()"
        (click)="captureClick()"
      >
        @if (isCreating()) {
          Zakládám knihu…
        } @else {
          {{ isUploading() ? "Nahrávám…" : "Vyfotit stránku" }}
        }
      </button>

      <button
        class="bg-main-base text-error hover:bg-main-error hover:text-on-color border-error text-sm-tight cursor-pointer rounded-lg border px-4 py-3 font-medium"
        (click)="cancel()"
      >
        Zrušit
      </button>

      <button
        class="bg-main-base text-success hover:bg-main-success hover:text-on-color border-success text-sm-tight cursor-pointer rounded-lg border px-4 py-3 font-medium"
        (click)="finish()"
      >
        {{ isFinishing() ? "Spouštím workflow…" : "Hotovo" }}
      </button>
    </div>
    <span>
      Počet naskenovaných stránek: <strong>{{ photoCount() }}</strong>
    </span>
  </div>
</div>
