<div class="h-full w-full overflow-x-auto overflow-y-hidden">
  <div class="flex h-full min-w-max items-center justify-center gap-3">
    @for (it of items(); track it.id) {
      <button
        class="h-full shrink-0 cursor-pointer"
        (click)="onPick(it.id)"
        type="button"
        title="{{ it.id }}"
      >
        @if (it.loading) {
          <div class="bg-main-bright h-full w-full animate-pulse"></div>
        } @else if (it.error) {
          <span class="text-error px-2 text-center">
            {{ it.error }}
          </span>
        } @else {
          <img
            class="pointer-events-none block h-full w-auto object-contain select-none"
            [class.border-4]="selectedId() === it.id"
            [class.border-tertiary-default]="selectedId() === it.id"
            [src]="it.url"
            alt="thumb"
          />
        }
      </button>
    }
  </div>
</div>
