<section class="flex h-full flex-col">
  <h2 class="mb-4">Záznamy</h2>

  <div class="overflow-auto">
    @if (!records().length) {
      <p class="text-light text-sm">Žádné záznamy.</p>
    } @else {
      <div class="text-secondary p-2 text-sm font-bold">
        <div
          class="grid grid-cols-[1fr_2fr_2fr_1fr_auto] items-center gap-3 text-left"
        >
          <div>Zdroj</div>
          <div>Název</div>
          <div>Autor</div>
          <div>Rok vydání</div>
          <div class="h-6 w-6"></div>
        </div>
      </div>

      @for (rec of records(); track $index) {
        <div
          class="border-tertiary-default"
          [class.border-t]="$index === 0"
          [class.border-b]="expandedIndex() !== $index"
        >
          <button
            class="hover:bg-main-bright bg-main-light w-full px-2 py-3 hover:cursor-pointer"
            [class.bg-main-bright]="expandedIndex() === $index"
            [class.bg-main-light]="expandedIndex() !== $index"
            (click)="toggleRow($index)"
            type="button"
          >
            <div
              class="grid grid-cols-[1fr_2fr_2fr_1fr_auto] items-center gap-3 text-left text-sm"
            >
              <div class="truncate">
                {{ rec.extracted ? "Vyčtený" : rec.existing!.source }}
              </div>

              @if ($index === 0) {
                <div class="truncate">
                  {{ getTitle(transformed()) || "" }}
                </div>

                <div class="truncate">
                  {{ getAuthorName(transformed()) || "" }}
                </div>

                <div class="truncate">
                  {{ getPublicationYear(transformed()) || "" }}
                </div>

                <div class="flex items-center justify-end">
                  <svg
                    class="icon-secondary-default transition-transform duration-150"
                    [ngClass]="{ 'rotate-180': expandedIndex() === $index }"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M3.5286 5.5286C3.78895 5.26825
                 4.21106 5.26825 4.47141 5.5286L8 9.05719
                 L11.5286 5.5286C11.7889 5.26825 12.2111 5.26825
                 12.4714 5.5286C12.7318 5.78895 12.7318 6.21106
                 12.4714 6.47141L8.47141 10.4714C8.21106 10.7318
                 7.78895 10.7318 7.5286 10.4714L3.5286 6.47141
                 C3.26825 6.21106 3.26825 5.78895 3.5286 5.5286Z"
                    />
                  </svg>
                </div>
              } @else {
                <div class="truncate">
                  {{ getTitle(rec.existing) || "" }}
                </div>

                <div class="truncate">
                  {{ getAuthorName(rec.existing) || "" }}
                </div>

                <div class="truncate">
                  {{ getPublicationYear(rec.existing) || "" }}
                </div>

                <div class="flex items-center justify-end">
                  <svg
                    class="icon-secondary-default transition-transform duration-150"
                    [ngClass]="{ 'rotate-180': expandedIndex() === $index }"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M3.5286 5.5286C3.78895 5.26825
                 4.21106 5.26825 4.47141 5.5286L8 9.05719
                 L11.5286 5.5286C11.7889 5.26825 12.2111 5.26825
                 12.4714 5.5286C12.7318 5.78895 12.7318 6.21106
                 12.4714 6.47141L8.47141 10.4714C8.21106 10.7318
                 7.78895 10.7318 7.5286 10.4714L3.5286 6.47141
                 C3.26825 6.21106 3.26825 5.78895 3.5286 5.5286Z"
                    />
                  </svg>
                </div>
              }
            </div>
          </button>

          @if (expandedIndex() === $index) {
            @if ($index === 0) {
              <app-extracted-marc-record-table
                [extractedRecord]="rec.extracted!"
                [diffIndex]="diffIndex()"
                diffSide="opened"
              />
            } @else {
              <app-existing-marc-record-table
                [existingRecord]="rec.existing!"
                [diffIndex]="diffIndex()"
                diffSide="opened"
              />
            }
          }
        </div>
      }
    }
  </div>

  @if (
    records().length > 0 && expandedIndex() !== null && expandedIndex() === 0
  ) {
    <div class="mt-4 flex justify-end">
      <button
        class="bg-main-primary-default text-on-color text-sm-tight cursor-pointer rounded-lg px-4 py-3 font-medium"
        (click)="onTakeRecord()"
        type="button"
      >
        Převzít vyčtený záznam
      </button>
    </div>
  }
</section>
