<section class="bg-main-base flex h-full flex-col rounded-2xl">
  <div class="flex-1 overflow-auto">
    <div
      class="border-light flex items-center justify-between gap-4 border-b px-4 pt-4 pb-6"
    >
      <div class="w-full">
        <label class="text-light text-sm-tight mb-2 block font-medium">
          {{ "field_edit.first_indicator" | translate }}
        </label>

        <app-input-dropdown
          [value]="field()?.ind1 ?? ''"
          [options]="ind1Options()"
          (valueChange)="setInd(1, $event)"
        />
      </div>

      <div class="w-full">
        <label class="text-light text-sm-tight mb-2 block font-medium">
          {{ "field_edit.second_indicator" | translate }}
        </label>

        <app-input-dropdown
          [value]="field()?.ind2 ?? ''"
          [options]="ind2Options()"
          (valueChange)="setInd(2, $event)"
        />
      </div>
    </div>

    <div class="space-y-6 p-4">
      <div>
        <label class="text-sm-tight text-light mb-2 block font-medium">
          {{ "field_edit.650.2" | translate }}
        </label>

        <app-input-dropdown
          [value]="dictionary()"
          [options]="DICT_OPTIONS"
          [disabled]="locked()"
          (valueChange)="onDictionaryChange($event)"
        />
      </div>

      <div>
        <label class="text-sm-tight text-light mb-2 block font-medium">
          {{ "field_edit.650.a" | translate }}
        </label>

        <app-input-autocomplete-dictionary
          [value]="getSub('a')"
          [dictionary]="dictionary()"
          [disabled]="locked()"
          [minChars]="1"
          [limit]="20"
          [fieldType]="fieldType()"
          (valueChange)="onPickTerm($event)"
          (picked)="applySuggestion($event)"
        ></app-input-autocomplete-dictionary>
      </div>

      <div>
        <label
          class="text-light text-sm-tight mb-2 flex justify-between font-medium"
        >
          {{ "field_edit.650.7" | translate }}
          @if (catalogueUrlSeven()) {
            <a
              class="text-link text-sm-tight font-medium underline hover:no-underline"
              [href]="catalogueUrlSeven()"
              target="_blank"
              rel="noopener noreferrer"
              title="{{ 'candidates.open_in_skc' | translate }}"
            >
              <span class="flex items-center gap-1.25">
                {{ "candidates.show_in_nkp" | translate }}
                <svg
                  class="icon-link"
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M14.487 1.51315C14.6823 1.70841 14.6823 2.02499 14.487 2.22025L9.02038 7.68692C8.82512 7.88218 8.50854 7.88218 8.31328 7.68692C8.11801 7.49166 8.11801 7.17507 8.31328 6.97981L13.7799 1.51315C13.9752 1.31788 14.2918 1.31788 14.487 1.51315Z"
                  />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M10.967 1.3335C10.967 1.05735 11.1908 0.833496 11.467 0.833496H14.667C14.9431 0.833496 15.167 1.05735 15.167 1.3335V4.5335C15.167 4.80964 14.9431 5.0335 14.667 5.0335C14.3908 5.0335 14.167 4.80964 14.167 4.5335V1.8335H11.467C11.1908 1.8335 10.967 1.60964 10.967 1.3335Z"
                  />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M2.06328 2.06328C2.95292 1.17363 4.28418 0.833496 6.00016 0.833496H7.3335C7.60964 0.833496 7.8335 1.05735 7.8335 1.3335C7.8335 1.60964 7.60964 1.8335 7.3335 1.8335H6.00016C4.38281 1.8335 3.38074 2.16003 2.77038 2.77038C2.16003 3.38074 1.8335 4.38281 1.8335 6.00016V10.0002C1.8335 11.6175 2.16003 12.6196 2.77038 13.2299C3.38074 13.8403 4.38281 14.1668 6.00016 14.1668H10.0002C11.6175 14.1668 12.6196 13.8403 13.2299 13.2299C13.8403 12.6196 14.1668 11.6175 14.1668 10.0002V8.66683C14.1668 8.39069 14.3907 8.16683 14.6668 8.16683C14.943 8.16683 15.1668 8.39069 15.1668 8.66683V10.0002C15.1668 11.7161 14.8267 13.0474 13.937 13.937C13.0474 14.8267 11.7161 15.1668 10.0002 15.1668H6.00016C4.28418 15.1668 2.95292 14.8267 2.06328 13.937C1.17363 13.0474 0.833496 11.7161 0.833496 10.0002V6.00016C0.833496 4.28418 1.17363 2.95292 2.06328 2.06328Z"
                  />
                </svg>
              </span>
            </a>
          }
        </label>

        <span
          class="border-tertiary-default bg-main-base inline-flex w-full overflow-hidden rounded-lg border"
        >
          <input
            class="text-disable w-full cursor-not-allowed bg-transparent py-3 pl-4 outline-none"
            [value]="getSub('7')"
            disabled
          />

          @if (getSub("7").length) {
            <button
              class="group flex items-center px-3"
              (click)="clearAuthority()"
              (mousedown)="$event.preventDefault()"
              tabindex="-1"
              type="button"
            >
              <svg
                class="icon-tertiary"
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M3.64645 3.64645C3.84171 3.45118 4.15829 3.45118 4.35355 3.64645L8 7.29289L11.6464 3.64645C11.8417 3.45118 12.1583 3.45118 12.3536 3.64645C12.5488 3.84171 12.5488 4.15829 12.3536 4.35355L8.70711 8L12.3536 11.6464C12.5488 11.8417 12.5488 12.1583 12.3536 12.3536C12.1583 12.5488 11.8417 12.5488 11.6464 12.3536L8 8.70711L4.35355 12.3536C4.15829 12.5488 3.84171 12.5488 3.64645 12.3536C3.45118 12.1583 3.45118 11.8417 3.64645 11.6464L7.29289 8L3.64645 4.35355C3.45118 4.15829 3.45118 3.84171 3.64645 3.64645Z"
                />
              </svg>
            </button>
          }
        </span>
      </div>
    </div>
  </div>
</section>
