<section class="bg-main-base flex min-h-dvh items-center justify-center px-4">
  <div class="flex flex-col items-center gap-6 text-center">
    <img
      class="w-44 select-none sm:w-56"
      src="images/sad-avatar.png"
      alt="Smutný avatar"
      draggable="false"
    />

    <div class="flex flex-col gap-3">
      <h1 class="text-base-color text-2xl font-medium">
        {{ "not_found.title" | translate }}
      </h1>

      <p class="text-secondary text-md">
        {{ "not_found.description" | translate }}
      </p>
    </div>

    <a class="btn btn-m btn-tertiary" routerLink="/batches">
      {{ "not_found.home" | translate }}
    </a>
  </div>
</section>
