<div class="relative">
  <span
    class="border-tertiary-default focus-within:border-primary-default bg-main-base inline-flex w-full overflow-hidden rounded-lg border"
  >
    <textarea
      class="text-md w-full resize-none bg-transparent py-3 pr-4 pl-4 font-medium outline-none"
      #ta
      data-testid="autocomplete-textarea"
      [ngClass]="disabled() ? 'text-disable' : 'text-secondary'"
      [disabled]="disabled()"
      [value]="query()"
      [placeholder]="placeholder()"
      (focus)="onFocus()"
      (blur)="onBlur()"
      (input)="onInput(ta.value)"
      (keydown)="onKeydown($event)"
      rows="4"
    ></textarea>

    @if (query().length && !disabled()) {
      <button
        class="group mx-3 mt-3 flex cursor-pointer items-start"
        (click)="clear()"
        (mousedown)="$event.preventDefault()"
        tabindex="-1"
        type="button"
      >
        <svg class="icon-tertiary" appIcon="x" width="16" height="16"></svg>
      </button>
    }
  </span>

  @if (open()) {
    <div
      class="border-primary-default bg-main-base absolute right-0 left-0 z-30 mt-2 overflow-hidden rounded-lg border shadow-md"
    >
      <div class="max-h-64 overflow-auto p-2" #list>
        @for (s of suggestions(); track s.value) {
          <button
            class="text-secondary hover:bg-main-light active:bg-main-bright flex w-full cursor-pointer items-center justify-between rounded-lg px-4 py-3 text-left transition"
            [attr.data-idx]="$index"
            [ngClass]="activeIndex() === $index ? 'bg-gray-500/10' : ''"
            (mousedown)="$event.preventDefault()"
            (click)="pick(s)"
            type="button"
          >
            <span class="text-sm-tight font-medium">{{ s.value }}</span>
            <span class="text-light text-xs">{{ s.count }}</span>
          </button>
        }
      </div>
    </div>
  }
</div>
