<section class="bg-main-base h-full overflow-auto p-6">
  @if (state().mode === "records") {
    <app-marc-records />
  } @else if (state().mode === "candidates") {
    <app-candidates-table
      [title]="'Výběr kandidátů pole ' + state().tag"
      [candidates]="state().candidates ?? []"
      [selectedCandidateId]="state().selectedCandidateId ?? null"
      [tag]="state().tag"
    />
  } @else if (state().mode === "provenance") {
    <app-provenance-timeline
      [title]="state().title ?? ''"
      [steps]="state().steps ?? []"
    />
  }
</section>
