<table class="w-full table-fixed border-collapse text-sm">
  <colgroup>
    <col class="w-25" />
    <col />
  </colgroup>

  <tbody
    class="[&>tr:nth-child(even)]:bg-main-base [&>tr:nth-child(odd)]:bg-gray-500/5"
  >
    @if (transformed(); as rec) {
      @if (rec.leader) {
        <tr
          class="border-light"
          [ngClass]="[
            rec.control_fields.length > 0 || rec.data_fields.length > 0
              ? 'border-b'
              : '',
            this.ds.enabledByUser() ? 'opacity-60' : '',
          ]"
          [leader]="rec.leader"
          appMarcRowLeader
        ></tr>
      }

      @for (cf of rec.control_fields; track $index) {
        <tr
          class="border-light"
          [ngClass]="[
            $index !== rec.control_fields.length - 1 ||
            rec.data_fields.length > 0
              ? 'border-b'
              : '',
            this.ds.enabledByUser() && !isDiffableTag015to830(cf.tag)
              ? 'opacity-60'
              : '',
          ]"
          [cf]="cf"
          [takeable]="takeable()"
          appMarcRowControl
        ></tr>
      }

      @for (df of rec.data_fields; track $index) {
        @if (df.tag != "910") {
          <tr
            class="border-light"
            [ngClass]="[
              $index !== rec.data_fields.length - 1 ? 'border-b' : '',
              this.ds.enabledByUser() && !isDiffableTag015to830(df.tag)
                ? 'opacity-60'
                : '',
            ]"
            [df]="df"
            [diffIndex]="diffIndex()"
            [diffSide]="diffSide()"
            [takeable]="takeable()"
            appMarcRowData
          ></tr>
        }
      }
    } @else {
      <tr>
        <td class="text-light p-2 text-sm" colspan="6">
          {{ "records.no_data" | translate }}
        </td>
      </tr>
    }
  </tbody>
</table>
