/* ========== BUTTONS ========== */

/* prettier-ignore */
@utility btn {
  @apply
    inline-flex
    rounded-lg
    font-medium
    text-nowrap

    cursor-pointer
    disabled:cursor-not-allowed

    transition-colors
    duration-150
    ease-in-out;
}

/* prettier-ignore */
@utility btn-s {
  @apply
    px-3
    py-2
    text-sm
    gap-2;
  line-height: var(--text-sm-tight--line-height);
}

/* prettier-ignore */
@utility btn-m {
  @apply
    px-4
    py-3
    text-sm
    gap-3;
  line-height: var(--text-sm-tight--line-height);
}

/* prettier-ignore */
@utility btn-l {
  @apply
    px-4
    py-3
    gap-3
    text-md;
}

/* prettier-ignore */
@utility btn-icon {
  @apply
    px-2.75
    py-2.75
}

/* prettier-ignore */
@utility btn-primary {
  @apply
    bg-main-primary-default
    text-btn-primary-default

    hover:bg-main-primary-hover
    hover:text-btn-primary-hover

    active:bg-main-primary-pressed
    active:text-btn-primary-pressed

    disabled:bg-main-primary-disable
    disabled:text-btn-primary-disable;
}

/* prettier-ignore */
@utility btn-secondary {
  @apply
    bg-main-secondary-default
    text-btn-secondary-default

    hover:bg-main-secondary-hover
    hover:text-btn-secondary-hover

    active:bg-main-secondary-pressed
    active:text-btn-secondary-pressed

    disabled:bg-main-secondary-disable
    disabled:text-btn-secondary-disable;
}

/* prettier-ignore */
@utility btn-tertiary {
  @apply
    bg-white
    text-secondary
    px-3.75
    py-2.75
    border
    border-tertiary-default

    hover:bg-white
    hover:text-base-color
    hover:border-tertiary-hover

    active:bg-white
    active:text-base-color
    active:border-tertiary-pressed

    disabled:bg-white
    disabled:text-btn-tertiary-disable
    disabled:border-tertiary-disable;
}

/* ========== ICONS ========== */

/* prettier-ignore */
@utility icon-primary {
  @apply
    icon-primary-default
    group-hover:icon-primary-hover
    group-active:icon-primary-pressed
    group-disabled:icon-primary-disable;
}

/* prettier-ignore */
@utility icon-secondary {
  @apply
    icon-secondary-default
    group-hover:icon-secondary-hover
    group-active:icon-secondary-pressed
    group-disabled:icon-secondary-disable;
}

/* prettier-ignore */
@utility icon-tertiary {
  @apply
    icon-tertiary-default
    group-hover:icon-tertiary-hover
    group-active:icon-tertiary-pressed
    group-disabled:icon-tertiary-disable;
}

/* ========== TABS ========== */

/* prettier-ignore */
@utility tab-item {
  @apply
    inline-flex
    gap-2
    px-4 pt-6 pb-5.5
    font-medium
    text-md
    text-nowrap

    text-btn-tertiary-default
    hover:text-btn-tertiary-hover
    active:text-btn-tertiary-pressed
    disabled:text-btn-tertiary-disable

    border-b-2
    border-transparent
    hover:border-primary-disable
    active:border-primary-disable

    hover:cursor-pointer
    disabled:cursor-not-allowed

    transition-colors
    duration-150
    ease-in-out;
}
