<div
  class="bg-main-light relative h-full w-full overflow-hidden rounded-lg"
  #viewportEl
  (wheel)="onWheel($event)"
  (dblclick)="onDoubleClick($event)"
  (pointerdown)="onPointerDown($event)"
  (pointermove)="onPointerMove($event)"
  (pointerup)="onPointerUp($event)"
  (pointercancel)="onPointerUp($event)"
  (pointerleave)="onPointerUp()"
>
  @if (isLoading()) {
    <div class="bg-main-bright h-full w-full animate-pulse rounded-xl"></div>
  } @else if (errorMessage()) {
    <div class="text-md text-error grid h-full place-items-center">
      {{ errorMessage() }}
    </div>
  } @else if (displayUrl()) {
    <div
      class="absolute top-1/2 left-1/2 h-full w-full will-change-transform"
      [style.transform]="outerTransform()"
      [style.transition]="outerTransitionStyle()"
      [style.cursor]="cursor()"
    >
      <img
        class="block h-full w-full object-contain will-change-transform select-none"
        #imageEl
        [style.transform]="innerTransform()"
        [style.transition]="innerTransitionStyle()"
        [src]="displayUrl()!"
        (load)="onImageLoad()"
        alt="Book image"
        draggable="false"
      />
    </div>
  } @else {
    <div class="text-light grid h-full place-items-center text-sm">
      {{ "gallery.choose_image" | translate }}
    </div>
  }
</div>
