<div class="bg-main-light h-full w-full rounded-lg">
  @if (isLoading()) {
    <div class="bg-main-bright h-full w-full animate-pulse rounded-xl"></div>
  } @else if (errorMessage()) {
    <div class="text-md text-error grid h-full place-items-center">
      {{ errorMessage() }}
    </div>
  } @else if (displayUrl()) {
    <div class="relative h-full w-full overflow-hidden">
      <img
        class="mx-auto block h-full w-full object-contain select-none"
        [src]="displayUrl()!"
        alt="Book image"
        draggable="false"
      />
    </div>
  } @else {
    <div class="text-light grid h-full place-items-center text-sm">
      {{ "gallery.choose_image" | translate }}
    </div>
  }
</div>
