<table class="w-full border-collapse text-sm">
  <colgroup>
    <col class="w-16" />
    <col class="w-10" />
    <col class="w-10" />
    <col />
  </colgroup>

  <tbody>
    @if (existingRecord().leader) {
      <tr
        class="border-tertiary-default border-y-[0.5px]"
        [ngClass]="
          this.ds.enabledByUser() && this.recordState.viewMode() === 'table'
            ? 'opacity-60'
            : ''
        "
        [leader]="existingRecord().leader"
        appMarcRowLeader
      ></tr>
    }

    @for (cf of existingRecord().control_fields; track $index) {
      <tr
        class="border-tertiary-default border-b-[0.5px]"
        [ngClass]="[
          $index === 0 && !existingRecord().leader ? 'border-t-[0.5px]' : '',
          this.ds.enabledByUser() &&
          !isDiffableTag015to830(cf.tag) &&
          this.recordState.viewMode() === 'table'
            ? 'opacity-60'
            : '',
        ]"
        [cf]="cf"
        appMarcRowControl
      ></tr>
    }

    @for (df of existingRecord().data_fields; track $index) {
      @if (df.tag != "910") {
        <tr
          class="border-tertiary-default border-b-[0.5px]"
          [ngClass]="[
            $index === 0 &&
            existingRecord().control_fields.length === 0 &&
            !existingRecord().leader
              ? 'border-t-[0.5px]'
              : '',
            this.ds.enabledByUser() &&
            !isDiffableTag015to830(df.tag) &&
            this.recordState.viewMode() === 'table'
              ? 'opacity-60'
              : '',
          ]"
          [df]="df"
          [diffIndex]="diffIndex()"
          [diffSide]="diffSide()"
          appMarcRowData
        ></tr>
      }
    }
  </tbody>
</table>
