<table class="w-full table-fixed border-collapse">
  <colgroup>
    <col class="w-25" />
    <col />
  </colgroup>

  <tbody
    class="[&>tr:nth-child(even)]:bg-main-base [&>tr:nth-child(odd)]:bg-gray-500/5"
  >
    @if (existingRecord().leader) {
      <tr
        class="border-light"
        [ngClass]="[
          existingRecord().control_fields.length > 0 ||
          existingRecord().data_fields.length > 0
            ? 'border-b'
            : '',
          this.ds.enabledByUser() ? 'opacity-60' : '',
        ]"
        [leader]="existingRecord().leader"
        appMarcRowLeader
      ></tr>
    }

    @for (cf of existingRecord().control_fields; track $index) {
      <tr
        class="border-light"
        [ngClass]="[
          $index !== existingRecord().control_fields.length - 1 ||
          existingRecord().data_fields.length > 0
            ? 'border-b'
            : '',
          this.ds.enabledByUser() && !isDiffableTag015to830(cf.tag)
            ? 'opacity-60'
            : '',
        ]"
        [cf]="cf"
        appMarcRowControl
      ></tr>
    }

    @for (df of existingRecord().data_fields; track $index) {
      @if (df.tag != "910") {
        <tr
          class="border-light"
          [ngClass]="[
            $index !== existingRecord().data_fields.length - 1
              ? 'border-b'
              : '',
            this.ds.enabledByUser() && !isDiffableTag015to830(df.tag)
              ? 'opacity-60'
              : '',
          ]"
          [df]="df"
          [diffIndex]="diffIndex()"
          [diffSide]="diffSide()"
          appMarcRowData
        ></tr>
      }
    }

    @if (
      !existingRecord().leader &&
      existingRecord().control_fields.length === 0 &&
      existingRecord().data_fields.length === 0
    ) {
      <tr>
        <td class="text-light p-2 text-sm" colspan="6">
          {{ "records.no_data" | translate }}
        </td>
      </tr>
    }
  </tbody>
</table>
