<div class="flex flex-wrap gap-3 px-4 py-3.5">
  @for (it of items(); track it.action ?? it.tag) {
    <button
      class="bg-main-base border-tertiary-default hover:border-tertiary-hover active:border-tertiary-pressed group inline-flex items-center gap-2 rounded-lg border py-0.75 pr-3 pl-2 transition-colors duration-150 ease-in-out hover:cursor-pointer"
      (click)="onAdd(it)"
      type="button"
    >
      <svg class="icon-tertiary" appIcon="add" width="20" height="20"></svg>

      <span class="text-md font-medium">
        @if (it.action === "add-field") {
          {{ it.label! | translate }}
        } @else {
          {{ it.tag?.toString() }}
        }
      </span>
    </button>
  }
</div>
