<table class="w-full table-fixed border-separate border-spacing-0">
  <colgroup>
    <col class="w-25" />
    <col />
  </colgroup>

  <tbody>
    @if (recordState.editableRecord()?.leader) {
      <tr
        class="group"
        [ngClass]="getLeaderRowClasses()"
        [leader]="recordState.editableRecord()?.leader!"
        (mouseenter)="setHoveredRow('__leader')"
        (mouseleave)="setHoveredRow(null)"
        appMarcRowLeader
      ></tr>
    }

    @for (
      cf of recordState.editableRecord()?.control_fields;
      track cf.fieldId
    ) {
      <tr
        class="group cursor-pointer"
        [ngClass]="getControlRowClasses(cf.fieldId, cf.tag)"
        [cf]="cf"
        [editable]="true"
        (mouseenter)="setHoveredRow(cf.fieldId)"
        (mouseleave)="setHoveredRow(null)"
        (click)="
          cps.enterEdit({
            kind: 'control',
            fieldId: cf.fieldId,
            tag: cf.tag,
            value: cf.value,
          });
          recordState.selectField(cf.fieldId)
        "
        appMarcRowControl
      ></tr>
    }

    @for (df of recordState.editableRecord()?.data_fields; track df.fieldId) {
      @if (df.tag != "910") {
        <tr
          class="group cursor-pointer"
          [ngClass]="getDataRowClasses(df.fieldId, df.tag)"
          [df]="df"
          [diffIndex]="diffIndex()"
          [diffSide]="diffSide()"
          [editable]="true"
          (mouseenter)="setHoveredRow(df.fieldId)"
          (mouseleave)="setHoveredRow(null)"
          (click)="
            cps.enterEdit({
              kind: 'data',
              fieldId: df.fieldId,
              tag: df.tag,
              ind1: df.ind1,
              ind2: df.ind2,
              subfields: df.subfields,
            });
            recordState.selectField(df.fieldId)
          "
          appMarcRowData
        ></tr>
      }
    }

    @if (
      !recordState.editableRecord()?.leader &&
      recordState.editableRecord()?.control_fields?.length === 0 &&
      recordState.editableRecord()?.data_fields?.length === 0
    ) {
      <tr>
        <td class="text-light p-2 text-sm" colspan="6">
          {{ "records.no_data" | translate }}
        </td>
      </tr>
    }
  </tbody>
</table>
