<div class="relative">
  <span
    class="focus-within:border-primary-default inline-flex w-full items-center justify-between overflow-hidden rounded-lg border"
    [ngClass]="
      disabled()
        ? 'text-disable border-tertiary-disable bg-gray-500/5'
        : 'border-tertiary-default bg-main-base'
    "
  >
    <input
      class="text-secondary w-full bg-transparent py-3 pl-4 font-medium outline-none"
      #inputEl
      [ngClass]="disabled() ? 'cursor-not-allowed' : ''"
      [disabled]="disabled()"
      [value]="query()"
      [placeholder]="placeholder()"
      [attr.maxlength]="maxlength() ?? null"
      (focus)="onFocus()"
      (blur)="onBlur()"
      (input)="onInput(inputEl.value)"
      (keydown)="onKeydown($event)"
    />

    @if (query().length && !disabled()) {
      <button
        class="group mx-3 flex cursor-pointer items-center"
        (click)="clear()"
        (mousedown)="$event.preventDefault()"
        tabindex="-1"
        type="button"
      >
        <svg
          class="icon-tertiary"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M3.64645 3.64645C3.84171 3.45118 4.15829 3.45118 4.35355 3.64645L8 7.29289L11.6464 3.64645C11.8417 3.45118 12.1583 3.45118 12.3536 3.64645C12.5488 3.84171 12.5488 4.15829 12.3536 4.35355L8.70711 8L12.3536 11.6464C12.5488 11.8417 12.5488 12.1583 12.3536 12.3536C12.1583 12.5488 11.8417 12.5488 11.6464 12.3536L8 8.70711L4.35355 12.3536C4.15829 12.5488 3.84171 12.5488 3.64645 12.3536C3.45118 12.1583 3.45118 11.8417 3.64645 11.6464L7.29289 8L3.64645 4.35355C3.45118 4.15829 3.45118 3.84171 3.64645 3.64645Z"
          />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M3.64645 3.64645C3.84171 3.45118 4.15829 3.45118 4.35355 3.64645L8 7.29289L11.6464 3.64645C11.8417 3.45118 12.1583 3.45118 12.3536 3.64645C12.5488 3.84171 12.5488 4.15829 12.3536 4.35355L8.70711 8L12.3536 11.6464C12.5488 11.8417 12.5488 12.1583 12.3536 12.3536C12.1583 12.5488 11.8417 12.5488 11.6464 12.3536L8 8.70711L4.35355 12.3536C4.15829 12.5488 3.84171 12.5488 3.64645 12.3536C3.45118 12.1583 3.45118 11.8417 3.64645 11.6464L7.29289 8L3.64645 4.35355C3.45118 4.15829 3.45118 3.84171 3.64645 3.64645Z"
          />
        </svg>
      </button>
    }
  </span>

  @if (open()) {
    <div
      class="border-primary-default bg-main-base absolute right-0 left-0 z-30 mt-2 overflow-hidden rounded-lg border shadow-md"
    >
      <div class="max-h-64 overflow-auto p-2" #list>
        @for (it of filtered(); track it.code) {
          <button
            class="text-secondary hover:bg-main-light active:bg-main-bright flex w-full cursor-pointer items-center justify-between rounded-lg px-4 py-3 text-left transition"
            [attr.data-idx]="$index"
            [ngClass]="activeIndex() === $index ? 'bg-gray-500/10' : ''"
            (mousedown)="$event.preventDefault()"
            (click)="pick(it.code)"
            type="button"
          >
            <span class="text-sm-tight text-secondary font-medium">
              {{ it.translatedLabel }}
            </span>

            <span class="text-light text-sm-tight">
              {{ it.code }}
            </span>
          </button>
        }
      </div>
    </div>
  }
</div>
