<td class="text-secondary p-2 align-text-top font-bold">
  {{ nf().tag }}
</td>

<td class="text-secondary p-2 align-text-top font-bold">
  {{ nf().ind1 }}
</td>

<td class="text-secondary p-2 align-text-top font-bold">
  {{ nf().ind2 }}
</td>

<td class="p-2">
  @if (subfieldsEnumerated().length) {
    <div class="flex flex-wrap gap-x-2 gap-y-1 align-text-top">
      @for (e of subfieldsEnumerated(); track $index) {
        <span
          class="rounded px-1 py-0.5"
          [ngClass]="subDiffClass(subDiffKindAt($index))"
        >
          <span class="text-secondary font-bold">|{{ e.sf.code }}</span>
          <span class="ml-1">{{ e.sf.value }}</span>
        </span>
      }
    </div>
  }
</td>

@if (nf().fieldId && (nf().candidates?.length ?? 0) > 1) {
  <td class="p-2">
    <div class="flex h-full items-center justify-center">
      <button
        class="cursor-pointer"
        (click)="onShowCandidates()"
        type="button"
        title="Kandidáti"
      >
        <svg
          class="icon-secondary-default"
          xmlns="http://www.w3.org/2000/svg"
          width="22"
          height="22"
          viewBox="0 0 20 20"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M7.53252 2.88281C7.77684 3.12665 7.77723 3.52238 7.5334 3.7667L3.3584 7.95003C3.11456 8.19435 2.71884 8.19474 2.47451 7.95091C2.23019 7.70708 2.2298 7.31135 2.47363 7.06703L6.64863 2.88369C6.89247 2.63937 7.2882 2.63898 7.53252 2.88281Z"
          />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M17.7079 7.50814C17.7079 7.85332 17.4281 8.13314 17.0829 8.13314L2.91621 8.13314C2.57103 8.13314 2.29121 7.85332 2.29121 7.50814C2.29121 7.16296 2.57103 6.88314 2.91621 6.88314L17.0829 6.88314C17.4281 6.88314 17.7079 7.16296 17.7079 7.50814Z"
          />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M17.5244 12.0495C17.7687 12.2933 17.7691 12.689 17.5253 12.9334L13.3503 17.1167C13.1064 17.361 12.7107 17.3614 12.4664 17.1176C12.2221 16.8737 12.2217 16.478 12.4655 16.2337L16.6405 12.0504C16.8843 11.806 17.2801 11.8056 17.5244 12.0495Z"
          />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M17.7079 12.4919C17.7079 12.837 17.4281 13.1169 17.0829 13.1169L2.91621 13.1169C2.57103 13.1169 2.29121 12.837 2.29121 12.4919C2.29121 12.1467 2.57103 11.8669 2.91621 11.8669L17.0829 11.8669C17.4281 11.8669 17.7079 12.1467 17.7079 12.4919Z"
          />
        </svg>
      </button>
    </div>
  </td>
} @else {
  <td></td>
}

@if (nf().selectedCandidateId && nf().score) {
  <td class="p-2">
    <div class="flex h-full items-center justify-center">
      <button
        class="h-4 w-4 cursor-pointer rounded-full"
        [ngClass]="scoreClass(nf().score)"
        (click)="onShowProvenance()"
        title="score {{ nf().score | number: '1.2-2' }}"
        type="button"
      ></button>
    </div>
  </td>
} @else {
  <td></td>
}
