<div class="relative">
  <span
    class="focus-within:border-primary-default inline-flex w-full items-center justify-between overflow-hidden rounded-lg border"
    [ngClass]="
      disabled()
        ? 'text-disable border-tertiary-disable bg-gray-500/5'
        : 'border-tertiary-default bg-main-base text-secondary'
    "
  >
    <input
      class="w-full bg-transparent py-3 pl-4 font-medium outline-none"
      #inp
      [ngClass]="disabled() ? 'cursor-not-allowed' : ''"
      [disabled]="disabled()"
      [value]="query()"
      [placeholder]="placeholder()"
      (focus)="onFocus()"
      (blur)="onBlur()"
      (input)="onInput(inp.value)"
      (keydown)="onKeydown($event)"
    />

    @if (query().length && !disabled()) {
      <button
        class="group mx-3 flex cursor-pointer items-center"
        (click)="clear()"
        (mousedown)="$event.preventDefault()"
        tabindex="-1"
        type="button"
      >
        <svg class="icon-tertiary" appIcon="x" width="16" height="16"></svg>
      </button>
    }
  </span>

  @if (open()) {
    <div
      class="border-primary-default bg-main-base absolute right-0 left-0 z-30 mt-2 overflow-hidden rounded-lg border shadow-md"
    >
      <div class="max-h-64 overflow-auto p-2" #list>
        @for (s of suggestions(); track $index) {
          <button
            class="text-secondary hover:bg-main-light active:bg-main-bright flex w-full cursor-pointer items-center justify-between rounded-lg px-4 py-3 text-left transition"
            [attr.data-idx]="$index"
            [ngClass]="activeIndex() === $index ? 'bg-main-light' : ''"
            (mousedown)="$event.preventDefault()"
            (click)="pick(s)"
            type="button"
          >
            <span class="text-sm-tight font-medium">{{ s.a }}</span>
            <span class="text-light text-xs">{{ s["d"] }} | {{ s["7"] }}</span>
          </button>
        }
      </div>
    </div>
  }
</div>
