<table class="w-full border-collapse text-sm">
  <colgroup>
    <col class="w-16" />
    <col class="w-10" />
    <col class="w-10" />
    <col />
  </colgroup>

  <tbody>
    @if (record().leader) {
      <tr
        class="border-tertiary-default border-y-[0.5px]"
        [leader]="record().leader"
        appMarcRowLeader
      ></tr>
    }

    @for (sf of record().special_fields; track $index) {
      <tr
        class="border-tertiary-default border-b-[0.5px]"
        [ngClass]="{
          'border-t-[0.5px]': $index === 0 && !record().leader,
        }"
        [sf]="sf"
        appMarcRowSpecial
      ></tr>
    }

    @for (nf of record().normal_fields; track $index) {
      @if (nf.tag != "910") {
        <tr
          class="border-tertiary-default border-b-[0.5px]"
          [ngClass]="{
            'border-t-[0.5px]':
              $index === 0 &&
              record().special_fields?.length === 0 &&
              !record().leader,
          }"
          [nf]="nf"
          appMarcRowNormal
        ></tr>
      }
    }
  </tbody>
</table>
