<table class="w-full border-collapse text-sm">
  <colgroup>
    <col class="w-16" />
    <col class="w-10" />
    <col class="w-10" />
    <col />
  </colgroup>

  <tbody>
    @for (sf of record().special_fields; track $index) {
      <tr
        class="border-tertiary-default border-b-[0.5px]"
        [sf]="sf"
        appMarcRowSpecial
      ></tr>
    }

    @for (nf of record().normal_fields; track $index) {
      <tr
        class="border-tertiary-default border-b-[0.5px]"
        [nf]="nf"
        appMarcRowNormal
      ></tr>
    }
  </tbody>
</table>
