@if (mode() === "horizontal") {
  <div class="relative w-full">
    <div
      class="w-full overflow-x-auto overflow-y-hidden"
      #scroller
      (scroll)="onScroll()"
    >
      <div class="flex h-38.5 min-w-max items-center gap-3 pb-4">
        @for (it of items(); track it.id) {
          <button
            class="group h-full shrink-0 hover:cursor-pointer"
            [class.z-7]="selectedId() === it.id && !it.thumbLoading"
            (click)="onPick(it.id)"
            type="button"
          >
            <div class="relative h-full rounded-lg">
              <div class="h-full">
                @if (it.thumbLoading) {
                  <div
                    class="bg-main-bright h-full w-24 animate-pulse rounded-lg"
                  ></div>
                } @else if (it.thumbError) {
                  <div
                    class="text-error bg-main-light grid h-full w-24 place-items-center rounded-xl text-xs"
                  >
                    {{ it.thumbError }}
                  </div>
                } @else if (it.thumbUrl) {
                  <img
                    class="pointer-events-none block h-full w-auto rounded-lg object-contain select-none"
                    [src]="it.thumbUrl"
                    alt="thumbnail"
                    draggable="false"
                  />
                } @else {
                  <div class="bg-main-light h-full w-24 rounded-lg"></div>
                }
              </div>
              <div
                class="pointer-events-none absolute inset-0 rounded-lg border-2 border-transparent transition-colors"
                [class.!border-primary-default]="
                  selectedId() === it.id && !it.thumbLoading
                "
                [ngClass]="
                  !it.thumbLoading && selectedId() !== it.id
                    ? 'group-hover:border-additionally-1 group-hover:shadow-m group-hover:z-6'
                    : ''
                "
              ></div>
            </div>
          </button>
        }
      </div>
    </div>
    @if (canScrollRight()) {
      <div
        class="pointer-events-none absolute inset-y-0 right-0 w-20 animate-[fadeIn_100ms_ease-out_forwards] bg-linear-to-l from-white to-transparent opacity-0"
      ></div>
    }
  </div>
} @else {
  <div class="relative h-full w-full">
    <div
      class="h-full w-full overflow-x-hidden overflow-y-auto pr-3"
      #scroller
      (scroll)="onScroll()"
    >
      <div class="flex flex-col gap-3">
        @for (it of items(); track it.id) {
          <button
            class="group w-full hover:cursor-pointer"
            [class.z-7]="selectedId() === it.id && !it.thumbLoading"
            (click)="onPick(it.id)"
            type="button"
          >
            <div class="relative w-full rounded-lg">
              @if (it.thumbLoading) {
                <div
                  class="bg-main-bright h-24 w-full animate-pulse rounded-lg"
                ></div>
              } @else if (it.thumbError) {
                <div
                  class="text-error bg-main-light grid h-24 w-full place-items-center rounded-lg text-xs"
                >
                  !
                </div>
              } @else if (it.thumbUrl) {
                <img
                  class="pointer-events-none block h-auto w-full rounded-lg object-contain select-none"
                  [src]="it.thumbUrl"
                  alt="thumbnail"
                  draggable="false"
                />
              } @else {
                <div class="bg-main-light h-24 w-full rounded-lg"></div>
              }

              <div
                class="pointer-events-none absolute inset-0 rounded-lg border-2 border-transparent transition-colors"
                [class.!border-primary-default]="
                  selectedId() === it.id && !it.thumbLoading
                "
                [ngClass]="
                  !it.thumbLoading && selectedId() !== it.id
                    ? 'group-hover:border-additionally-1 group-hover:shadow-m group-hover:z-6'
                    : ''
                "
              ></div>
            </div>
          </button>
        }
      </div>
    </div>

    @if (canScrollDown()) {
      <div
        class="pointer-events-none absolute inset-x-0 bottom-0 h-20 animate-[fadeIn_100ms_ease-out_forwards] bg-linear-to-t from-white to-transparent opacity-0"
      ></div>
    }
  </div>
}
