<section class="bg-main-base flex h-full flex-col rounded-2xl">
  <app-main-panel-header
    [viewMode]="viewMode()"
    [bookId]="book_id()!"
    [quickAddItems]="recordState.visibleQuickAdd()"
    (setViewMode)="recordState.setViewMode($event)"
    (quickAddClick)="onQuickAdd($event)"
    (addDataField)="recordState.addField('data')"
    (addControlField)="recordState.addField('control')"
  ></app-main-panel-header>

  <div class="min-h-0 flex-1 overflow-auto">
    @if (viewMode() === "cards") {
      <app-extracted-fields />
    } @else {
      @if (recordPreview(); as rec) {
        <div class="flex flex-col px-4">
          <app-editable-marc-record-table
            [diffIndex]="diffIndex()"
            diffSide="preview"
          />
        </div>
      }
    }
  </div>
</section>
