<div [ngClass]="containerClass()">
  <div class="text-light text-md text-nowrap">
    {{ from() }}-{{ to() }} / {{ total() }}
  </div>

  <div class="flex items-center gap-5">
    @if (total() > 0) {
      <div class="flex items-center gap-2">
        @for (item of visiblePages(); track $index) {
          @if (item === "ellipsis-left" || item === "ellipsis-right") {
            <span
              class="text-base-color flex h-10 min-w-8 shrink-0 items-center justify-center"
            >
              ...
            </span>
          } @else {
            <button
              class="btn btn-m shrink-0"
              [ngClass]="item === page() ? 'btn-primary' : 'btn-tertiary'"
              (click)="goToPage(item)"
              type="button"
            >
              {{ item }}
            </button>
          }
        }
      </div>
    }

    <div class="flex items-center gap-2">
      <button
        class="btn btn-m btn-tertiary btn-icon group"
        [disabled]="!hasPrev()"
        (click)="goPrevPage()"
        type="button"
      >
        <svg
          class="icon-tertiary"
          appIcon="arrowLeft"
          width="16"
          height="16"
        ></svg>
      </button>

      <button
        class="btn btn-m btn-tertiary btn-icon group"
        [disabled]="!hasNext()"
        (click)="goNextPage()"
        type="button"
      >
        <svg
          class="icon-tertiary"
          appIcon="arrowRight"
          width="16"
          height="16"
        ></svg>
      </button>
    </div>
  </div>
</div>
