<section class="bg-main-base flex h-full flex-col rounded-2xl">
  <div class="flex-1 overflow-auto">
    <div class="space-y-6 p-4">
      @for (s of slices; track $index) {
        <div>
          <label class="text-light text-sm-tight mb-2 block font-medium">
            {{ s.labelKey | translate }}
          </label>

          @if (s.key === "place") {
            <app-input-static-autocomplete
              [value]="getSeg($index)"
              [items]="placeItems()"
              [maxlength]="s.len"
              (valueChange)="setSeg($index, $event)"
            />
          } @else if (s.key === "lang") {
            <app-input-static-autocomplete
              [value]="getSeg($index)"
              [items]="langItems()"
              [maxlength]="s.len"
              (valueChange)="setSeg($index, $event)"
            />
          } @else if (s.key === "typeOfDate") {
            <app-input-static-autocomplete
              [value]="getSeg($index)"
              [items]="typeOfDateItems()"
              [maxlength]="s.len"
              (valueChange)="setSeg($index, $event)"
            />
          } @else {
            <span
              class="border-tertiary-default focus-within:border-primary-default bg-main-base inline-flex w-full overflow-hidden rounded-lg border"
            >
              @if ($index === 0) {
                <input
                  class="w-full bg-transparent py-3 pl-4 outline-none"
                  #firstInput
                  #segInput
                  #inp
                  [attr.maxlength]="s.len"
                  [value]="getSeg($index)"
                  (input)="onSegInput($index, inp.value, $event)"
                />
              } @else {
                <input
                  class="w-full bg-transparent py-3 pl-4 outline-none"
                  #inp
                  #segInput
                  [attr.maxlength]="s.len"
                  [value]="getSeg($index)"
                  (input)="onSegInput($index, inp.value, $event)"
                />
              }

              @if (getSeg($index).length) {
                <button
                  class="group flex items-center px-3"
                  (click)="clearSeg($index)"
                  type="button"
                  aria-label="Vymazať"
                  title="Vymazať"
                >
                  <svg
                    class="icon-tertiary"
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M3.64645 3.64645C3.84171 3.45118 4.15829 3.45118 4.35355 3.64645L8 7.29289L11.6464 3.64645C11.8417 3.45118 12.1583 3.45118 12.3536 3.64645C12.5488 3.84171 12.5488 4.15829 12.3536 4.35355L8.70711 8L12.3536 11.6464C12.5488 11.8417 12.5488 12.1583 12.3536 12.3536C12.1583 12.5488 11.8417 12.5488 11.6464 12.3536L8 8.70711L4.35355 12.3536C4.15829 12.5488 3.84171 12.5488 3.64645 12.3536C3.45118 12.1583 3.45118 11.8417 3.64645 11.6464L7.29289 8L3.64645 4.35355C3.45118 4.15829 3.45118 3.84171 3.64645 3.64645Z"
                    />
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M3.64645 3.64645C3.84171 3.45118 4.15829 3.45118 4.35355 3.64645L8 7.29289L11.6464 3.64645C11.8417 3.45118 12.1583 3.45118 12.3536 3.64645C12.5488 3.84171 12.5488 4.15829 12.3536 4.35355L8.70711 8L12.3536 11.6464C12.5488 11.8417 12.5488 12.1583 12.3536 12.3536C12.1583 12.5488 11.8417 12.5488 11.6464 12.3536L8 8.70711L4.35355 12.3536C4.15829 12.5488 3.84171 12.5488 3.64645 12.3536C3.45118 12.1583 3.45118 11.8417 3.64645 11.6464L7.29289 8L3.64645 4.35355C3.45118 4.15829 3.45118 3.84171 3.64645 3.64645Z"
                    />
                  </svg>
                </button>
              }
            </span>
          }
        </div>
      }
    </div>
  </div>
</section>
