@import "tailwindcss";

@theme {
  --shadow-s: 0 2px 16px 2px rgba(0, 0, 0, 0.08);
  --shadow-m: 0 4px 24px 4px rgba(0, 0, 0, 0.08);
  --shadow-l: 0 8px 40px 8px rgba(0, 0, 0, 0.08);
}

@utility shadow-s {
  box-shadow: var(--shadow-s);
}
@utility shadow-m {
  box-shadow: var(--shadow-m);
}
@utility shadow-l {
  box-shadow: var(--shadow-l);
}

* {
  box-sizing: border-box;
}
