@if (!item() || item().loading) {
  <div class="bg-main-bright h-full w-full animate-pulse"></div>
} @else if (item().error) {
  <div class="text-md text-error grid h-full place-items-center">
    {{ item().error }}
  </div>
} @else if (item().url) {
  <div class="relative h-full w-full overflow-hidden">
    <img
      class="mx-auto block h-full w-auto object-contain select-none"
      [src]="item().url!"
      alt="Book image"
    />
  </div>
} @else {
  <div class="text-light grid h-full place-items-center text-sm">
    Vyberte obrázek
  </div>
}
