<section class="bg-main-base grid h-full grid-rows-[5fr_1fr] gap-6 p-6">
  <div class="min-h-0">
    @if (selectedItem()) {
      <app-image-large-preview [item]="selectedItem()!" />
    } @else {
      <div class="text-light text-md grid h-full place-items-center">
        Žádný obrázek
      </div>
    }
  </div>

  <div class="h-full min-h-0 min-w-0">
    <app-image-thumbnails
      [items]="items()"
      [selectedId]="selectedId()"
      (select)="onSelect($event)"
    />
  </div>
</section>
